<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <img src="../../../../../assets/about_photo.jpg" class="about_photo">
      </div>
      <mat-card-title>Martin Pekny</mat-card-title>
      <mat-card-subtitle>Software developer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        This is a demo for Llama2 chatbot developed by Martin Pekny skilled and detail-oriented software developer with 5 years of experience designing, developing, and deploying enterprise-level
        angular applications. Proficientin typescript and javascript, software development methodologies, and sql database management systems.
        Strong problem-solving skills and ability to work effectively in a team-based environment.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="onGithub()" >
        github
      </button>
      <button mat-button color="primary" (click)="onLinkedin()" >
        linkedin
      </button>
    </mat-card-actions>
  </mat-card>
  
